@font-face {
  font-family: 'apfont';
  src: url('../fonts/iconfont.eot');
  /* IE9*/
  src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/iconfont.woff') format('woff'), /* chrome、firefox */ url('../fonts/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('../fonts/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
*[data-role=phone]:before {
  font-family: apfont;
  content: '\e600';
}
*[data-role=phone][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e600';
  text-align: center;
}
*[data-role=phone][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=phone][icon-pos=right]:after {
  font-family: apfont;
  content: '\e600';
}
*[data-role=phone][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=phone][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e600';
}
*[data-role=mail]:before {
  font-family: apfont;
  content: '\e601';
}
*[data-role=mail][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e601';
  text-align: center;
}
*[data-role=mail][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=mail][icon-pos=right]:after {
  font-family: apfont;
  content: '\e601';
}
*[data-role=mail][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=mail][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e601';
}
*[data-role=sex]:before {
  font-family: apfont;
  content: '\e602';
}
*[data-role=sex][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e602';
  text-align: center;
}
*[data-role=sex][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=sex][icon-pos=right]:after {
  font-family: apfont;
  content: '\e602';
}
*[data-role=sex][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=sex][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e602';
}
*[data-role=date]:before {
  font-family: apfont;
  content: '\e603';
}
*[data-role=date][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e603';
  text-align: center;
}
*[data-role=date][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=date][icon-pos=right]:after {
  font-family: apfont;
  content: '\e603';
}
*[data-role=date][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=date][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e603';
}
*[data-role=name]:before {
  font-family: apfont;
  content: '\e604';
}
*[data-role=name][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e604';
  text-align: center;
}
*[data-role=name][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=name][icon-pos=right]:after {
  font-family: apfont;
  content: '\e604';
}
*[data-role=name][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=name][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e604';
}
*[data-role=close]:before {
  font-family: apfont;
  content: '\e605';
}
*[data-role=close][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e605';
  text-align: center;
}
*[data-role=close][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=close][icon-pos=right]:after {
  font-family: apfont;
  content: '\e605';
}
*[data-role=close][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=close][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e605';
}
*[data-role=zuo]:before {
  font-family: apfont;
  content: '\e606';
}
*[data-role=zuo][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e606';
  text-align: center;
}
*[data-role=zuo][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=zuo][icon-pos=right]:after {
  font-family: apfont;
  content: '\e606';
}
*[data-role=zuo][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=zuo][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e606';
}
*[data-role=you]:before {
  font-family: apfont;
  content: '\e607';
}
*[data-role=you][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e607';
  text-align: center;
}
*[data-role=you][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=you][icon-pos=right]:after {
  font-family: apfont;
  content: '\e607';
}
*[data-role=you][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=you][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e607';
}
*[data-role=minzu]:before {
  font-family: apfont;
  content: '\e608';
}
*[data-role=minzu][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e608';
  text-align: center;
}
*[data-role=minzu][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=minzu][icon-pos=right]:after {
  font-family: apfont;
  content: '\e608';
}
*[data-role=minzu][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=minzu][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e608';
}
*[data-role=kaishi]:before {
  font-family: apfont;
  content: '\e609';
}
*[data-role=kaishi][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e609';
  text-align: center;
}
*[data-role=kaishi][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=kaishi][icon-pos=right]:after {
  font-family: apfont;
  content: '\e609';
}
*[data-role=kaishi][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=kaishi][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e609';
}
*[data-role=three]:before {
  font-family: apfont;
  content: '\e60a';
}
*[data-role=three][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e60a';
  text-align: center;
}
*[data-role=three][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=three][icon-pos=right]:after {
  font-family: apfont;
  content: '\e60a';
}
*[data-role=three][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=three][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e60a';
}
*[data-role=you]:before {
  font-family: apfont;
  content: '\e60b';
}
*[data-role=you][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e60b';
  text-align: center;
}
*[data-role=you][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=you][icon-pos=right]:after {
  font-family: apfont;
  content: '\e60b';
}
*[data-role=you][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=you][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e60b';
}
*[data-role=zuo]:before {
  font-family: apfont;
  content: '\e60c';
}
*[data-role=zuo][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e60c';
  text-align: center;
}
*[data-role=zuo][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=zuo][icon-pos=right]:after {
  font-family: apfont;
  content: '\e60c';
}
*[data-role=zuo][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=zuo][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e60c';
}
*[data-role=nv]:before {
  font-family: apfont;
  content: '\e60d';
}
*[data-role=nv][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e60d';
  text-align: center;
}
*[data-role=nv][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=nv][icon-pos=right]:after {
  font-family: apfont;
  content: '\e60d';
}
*[data-role=nv][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=nv][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e60d';
}
*[data-role=xia]:before {
  font-family: apfont;
  content: '\e60e';
}
*[data-role=xia][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e60e';
  text-align: center;
}
*[data-role=xia][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=xia][icon-pos=right]:after {
  font-family: apfont;
  content: '\e60e';
}
*[data-role=xia][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=xia][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e60e';
}
*[data-role=shang]:before {
  font-family: apfont;
  content: '\e60f';
}
*[data-role=shang][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e60f';
  text-align: center;
}
*[data-role=shang][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=shang][icon-pos=right]:after {
  font-family: apfont;
  content: '\e60f';
}
*[data-role=shang][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=shang][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e60f';
}
*[data-role=zuan]:before {
  font-family: apfont;
  content: '\e610';
}
*[data-role=zuan][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e610';
  text-align: center;
}
*[data-role=zuan][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=zuan][icon-pos=right]:after {
  font-family: apfont;
  content: '\e610';
}
*[data-role=zuan][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=zuan][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e610';
}
*[data-role=school]:before {
  font-family: apfont;
  content: '\e616';
}
*[data-role=school][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e616';
  text-align: center;
}
*[data-role=school][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=school][icon-pos=right]:after {
  font-family: apfont;
  content: '\e616';
}
*[data-role=school][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=school][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e616';
}
*[data-role=zhuanye]:before {
  font-family: apfont;
  content: '\e613';
}
*[data-role=zhuanye][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e613';
  text-align: center;
}
*[data-role=zhuanye][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=zhuanye][icon-pos=right]:after {
  font-family: apfont;
  content: '\e613';
}
*[data-role=zhuanye][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=zhuanye][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e613';
}
*[data-role=xuewei]:before {
  font-family: apfont;
  content: '\e611';
}
*[data-role=xuewei][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e611';
  text-align: center;
}
*[data-role=xuewei][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=xuewei][icon-pos=right]:after {
  font-family: apfont;
  content: '\e611';
}
*[data-role=xuewei][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=xuewei][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e611';
}
*[data-role=zhiye]:before {
  font-family: apfont;
  content: '\e612';
}
*[data-role=zhiye][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e612';
  text-align: center;
}
*[data-role=zhiye][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=zhiye][icon-pos=right]:after {
  font-family: apfont;
  content: '\e612';
}
*[data-role=zhiye][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=zhiye][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e612';
}
*[data-role=xingwei]:before {
  font-family: apfont;
  content: '\e615';
}
*[data-role=xingwei][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e615';
  text-align: center;
}
*[data-role=xingwei][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=xingwei][icon-pos=right]:after {
  font-family: apfont;
  content: '\e615';
}
*[data-role=xingwei][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=xingwei][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e615';
}
*[data-role=enjoy]:before {
  font-family: apfont;
  content: '\e617';
}
*[data-role=enjoy][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e617';
  text-align: center;
}
*[data-role=enjoy][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=enjoy][icon-pos=right]:after {
  font-family: apfont;
  content: '\e617';
}
*[data-role=enjoy][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=enjoy][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e617';
}
*[data-role=gotop]:before {
  font-family: apfont;
  content: '\e618';
}
*[data-role=gotop][icon-pos=top]:before {
  display: block;
  font-family: apfont;
  content: '\e618';
  text-align: center;
}
*[data-role=gotop][icon-pos=right]:before {
  font-family: apfont;
  content: '';
}
*[data-role=gotop][icon-pos=right]:after {
  font-family: apfont;
  content: '\e618';
}
*[data-role=gotop][icon-pos=bottom]:before {
  font-family: apfont;
  content: '';
}
*[data-role=gotop][icon-pos=bottom]:after {
  display: block;
  font-family: apfont;
  content: '\e618';
}
