* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.clear:before,
.clear:after {
  content: "";
  display: block;
}
.clear:after {
  clear: both;
}
@media screen and (max-width: 700px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .container > .row {
    width: 100%;
  }
  .container > .row:before,
  .container > .row:after {
    content: "";
    display: block;
  }
  .container > .row:after {
    clear: both;
  }
  .container-fluid {
    width: 100%;
  }
  .container-fluid:before,
  .container-fluid:after {
    content: "";
    display: block;
  }
  .container-fluid:after {
    clear: both;
  }
  .container-fluid > .row {
    width: 100%;
  }
  .container-fluid > .row:before,
  .container-fluid > .row:after {
    content: "";
    display: block;
  }
  .container-fluid > .row:after {
    clear: both;
  }
  .container > .row > .col-s-v {
    display: block;
  }
  .container > .row > .col-s-h {
    display: none;
  }
  .container-fluid > .row > .col-s-v {
    display: block;
  }
  .container-fluid > .row > .col-s-h {
    display: none;
  }
  .container > .row > .col-s-0 {
    float: left;
    width: 0%;
  }
  .container-fluid > .row > .col-s-0 {
    float: left;
    width: 0%;
  }
  .container > .row > .col-s-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-s-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-s-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-s-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-s-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-s-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-s-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-s-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-s-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-s-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-s-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-s-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-s-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-s-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-s-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-s-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-s-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-s-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-s-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-s-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-s-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-s-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-s-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-s-12 {
    float: left;
    width: 100%;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  .container {
    width: 100%;
    margin: 0 auto;
    width: 700px;
  }
  .container > .row {
    width: 100%;
  }
  .container > .row:before,
  .container > .row:after {
    content: "";
    display: block;
  }
  .container > .row:after {
    clear: both;
  }
  .container-fluid {
    width: 100%;
  }
  .container-fluid:before,
  .container-fluid:after {
    content: "";
    display: block;
  }
  .container-fluid:after {
    clear: both;
  }
  .container-fluid > .row {
    width: 100%;
  }
  .container-fluid > .row:before,
  .container-fluid > .row:after {
    content: "";
    display: block;
  }
  .container-fluid > .row:after {
    clear: both;
  }
  .container > .row > .col-m-v {
    display: block;
  }
  .container > .row > .col-m-h {
    display: none;
  }
  .container-fluid > .row > .col-m-v {
    display: block;
  }
  .container-fluid > .row > .col-m-h {
    display: none;
  }
  .container > .row > .col-m-0 {
    float: left;
    width: 0%;
  }
  .container-fluid > .row > .col-m-0 {
    float: left;
    width: 0%;
  }
  .container > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-m-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-m-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-m-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-m-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-m-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-m-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-m-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-m-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-m-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-m-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-m-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-m-12 {
    float: left;
    width: 100%;
  }
}
@media screen and (min-width: 1000px) {
  .container {
    width: 100%;
    margin: 0 auto;
    width: 980px;
  }
  .container > .row {
    width: 100%;
  }
  .container > .row:before,
  .container > .row:after {
    content: "";
    display: block;
  }
  .container > .row:after {
    clear: both;
  }
  .container-fluid {
    width: 100%;
  }
  .container-fluid:before,
  .container-fluid:after {
    content: "";
    display: block;
  }
  .container-fluid:after {
    clear: both;
  }
  .container-fluid > .row {
    width: 100%;
  }
  .container-fluid > .row:before,
  .container-fluid > .row:after {
    content: "";
    display: block;
  }
  .container-fluid > .row:after {
    clear: both;
  }
  .container > .row > .col-l-v {
    display: block;
  }
  .container > .row > .col-l-h {
    display: none;
  }
  .container-fluid > .row > .col-l-v {
    display: block;
  }
  .container-fluid > .row > .col-l-h {
    display: none;
  }
  .container > .row > .col-l-0 {
    float: left;
    width: 0%;
  }
  .container-fluid > .row > .col-l-0 {
    float: left;
    width: 0%;
  }
  .container > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  .container-fluid > .row > .col-l-1 {
    float: left;
    width: 8.33333333%;
  }
  .container > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  .container-fluid > .row > .col-l-2 {
    float: left;
    width: 16.66666667%;
  }
  .container > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  .container-fluid > .row > .col-l-3 {
    float: left;
    width: 25%;
  }
  .container > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  .container-fluid > .row > .col-l-4 {
    float: left;
    width: 33.33333333%;
  }
  .container > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  .container-fluid > .row > .col-l-5 {
    float: left;
    width: 41.66666667%;
  }
  .container > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  .container-fluid > .row > .col-l-6 {
    float: left;
    width: 50%;
  }
  .container > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  .container-fluid > .row > .col-l-7 {
    float: left;
    width: 58.33333333%;
  }
  .container > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  .container-fluid > .row > .col-l-8 {
    float: left;
    width: 66.66666667%;
  }
  .container > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  .container-fluid > .row > .col-l-9 {
    float: left;
    width: 75%;
  }
  .container > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  .container-fluid > .row > .col-l-10 {
    float: left;
    width: 83.33333333%;
  }
  .container > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  .container-fluid > .row > .col-l-11 {
    float: left;
    width: 91.66666667%;
  }
  .container > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
  .container-fluid > .row > .col-l-12 {
    float: left;
    width: 100%;
  }
}
