
@font-face {font-family: "iconfont";
  src: url('iconfont.eot'); /* IE9*/
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff') format('woff'), /* chrome, firefox */
  url('iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-kaishi:before { content: "\e609"; }
.icon-erweima:before { content: "\e619"; }
.icon-nv:before { content: "\e60d"; }
.icon-qq:before { content: "\e61a"; }
.icon-app:before { content: "\e61b"; }
.icon-weibo:before { content: "\e61c"; }
.icon-xueweilimao:before { content: "\e611"; }
.icon-you:before { content: "\e60b"; }
.icon-vocation:before { content: "\e612"; }
.icon-weixin:before { content: "\e61d"; }
.icon-zuozuo:before { content: "\e60c"; }
.icon-dianhua:before { content: "\e600"; }
.icon-youxiang:before { content: "\e601"; }
.icon-xia:before { content: "\e60e"; }
.icon-shang:before { content: "\e60f"; }
.icon-xingbie:before { content: "\e602"; }
.icon-triSW:before { content: "\e60a"; }
.icon-iocnnianjidukongjian:before { content: "\e603"; }
.icon-zhuanye:before { content: "\e613"; }
.icon-1zhuanye:before { content: "\e614"; }
.icon-xingming:before { content: "\e604"; }
.icon-guanbi:before { content: "\e605"; }
.icon-xingwei:before { content: "\e615"; }
.icon-arrow-left-copy:before { content: "\e606"; }
.icon-biyeyuanxiao:before { content: "\e616"; }
.icon-zuanshi:before { content: "\e610"; }
.icon-huojian:before { content: "\e618"; }
.icon-jiantou-copy-copy-copy-copy:before { content: "\e607"; }
.icon-minzu:before { content: "\e608"; }
.icon-anlixinshang:before { content: "\e617"; }
